body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container2 {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #45a049;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

textarea,
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="file"] {
    background-color: #f9f9f9;
    color: #333;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .container2 {
        margin: 20px;
        padding: 15px;
    }

    input[type="text"],
    input[type="file"] {
        width: calc(100% - 20px);
    }
}
